In [4]:
import pandas as pd
excel_data = pd.read_excel('AB_Test_Results (2).xlsx')
data = pd.DataFrame(excel_data)
data.head()

C:\Users\Julia\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USER_ID       10000 non-null  int64
 1   VARIANT_NAME  10000 non-null  object
 2   REVENUE       10000 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 234.5+ KB

In [6]:
data.describe()

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000

In [9]:
data.VARIANT_NAME.value_counts()

variant    5016
control    4984
Name: VARIANT_NAME, dtype: int64

In [21]:
n1 = data.query('VARIANT_NAME == "control"').shape[0]-1
n2 = data.query('VARIANT_NAME == "variant"').shape[0]-1
data.query('VARIANT_NAME == "control"').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4984 entries, 1 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USER_ID       4984 non-null   int64
 1   VARIANT_NAME  4984 non-null   object
 2   REVENUE       4984 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 155.8+ KB

In [22]:
k1 = data.query('VARIANT_NAME == "control"').REVENUE.sum()
k2 = data.query('VARIANT_NAME == "variant"').REVENUE.sum()
print(k1,k2)

643.0 351.47

In [23]:
from statsmodels.stats import proportion
import numpy as np
z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]),
                                                   np.array([n1, n2]))
print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

Results are  z_score =9.848, pvalue = 0.000

In [24]:
import numpy as np
proportion.proportions_chisquare(np.array([k1, k2]),
                                                   np.array([n1, n2]))

(96.98654545427355,
 6.980003297645039e-23,
 (array([[ 643.  , 4340.  ],
         [ 351.47, 4663.53]]),
  array([[ 495.64352971, 4487.35647029],
         [ 498.82647029, 4516.17352971]])))

Вывод: Разница статистически значима.